
/* loading */
.dot {
  background-color: #183153;
  opacity: 0.5;
  animation: pulse0112 1s ease-in-out infinite;
  box-shadow: 0 0 20px rgba(18, 31, 53, 0.3);
}

@keyframes pulse0112 {
  0%, 100% {
    transform: scale(0);
    opacity: 0.5;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
}

